<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">What's Hot Now!?</p>
    <a class="panel-block">
      So Hot
    </a>
    <a class="panel-block">
      Yummy
    </a>
    <a class="panel-block">
      Hotness
    </a>
    <a class="panel-block">
      40ยบ cel. 
    </a>
    <a class="panel-block">
      Waaarrrrm
    </a>
    <a class="panel-block">
      Sweaty
    </a>
    <a class="panel-block">
      Hot tub 
    </a>
    <a class="panel-block">
      Like a Desert 
    </a>
  </nav>
</div>